
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LEMEN GRAS</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0a8e40b305.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a id="heading" class="navbar-brand " href="">LEMEN GRAS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a id="heading" class="nav-link active " aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a id="heading" class="nav-link active " aria-current="page" href="#">SHOPPING</a>
          </li>
          <li class="nav-item">
            <a id="heading" class="nav-link active " aria-current="page" href="#">DOWNLOAD</a>
          </li>
          <li class="nav-item">
            <a id="heading" class="nav-link active " aria-current="page" href="#">CONTACT</a>
          </li>
        </ul> 
      </div>
    </div>
  </nav>
  <!-- <nav class="breadcrumbs" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="home" href="C:\Users\HP\OneDrive\Desktop\VS CODE PROJECTS\Shopping website\index.html">HOME</a></li>
      <li class="breadcrumb-item" aria-current="page"><a class="SHIRTS" href="">SHIRTS</a></li>
      <li class="breadcrumb-item active shirtscrumb" aria-current="page"></a></li>
    </ol>
  </nav> -->