<%- include("partials/header")%>


<div class="jumbotron">
    <h1 class="display-4">Order Placed  <i class="fa-regular fa-circle-check" style="color: #256526;"></i></h1>
    <p class="lead">Thank you for shopping with us</p>
    <hr class="my-4">                             

  </div>

  <div>

  </div>


  <style>
    a{
        margin-right: 10px;
    }
  </style>