<%- include("partials/header")%>
<h1 class="review-heading">REVIEW</h1>
<form action="/review" method="post">
    <div>
        <textarea type="text" placeholder="write a review here"></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </div>
</form>


<style>
    textarea{
        margin-top: 20px;
        margin-left: 50px;
        height: 100px;
        width: 90%;
    }
    .review-heading{
        margin-top: 20px;
        margin-left: 50px;
    }
    button{
        margin-left: 45%;
        margin-top: 40px;
    }
</style>